@model IEnumerable<ConcertSystemDomain.Model.Spectator>

@{
    ViewData["Title"] = "Глядачі";
}

<h1>Глядачі</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ПІБ
            </th>
            <th>
                Телефон
            </th>
            <th>
                Електронна пошта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>