@model IEnumerable<ConcertSystemDomain.Model.Concert>

@{
    ViewData["Title"] = "Події";
}

<h1>Події</h1>

<!-- Відображення повідомлень -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Додати подію</a>
</p>

<!-- Перевірка, чи є події -->
@if (Model.Any())
{
    <!-- Таблиця подій -->
    <table class="table">
        <thead>
            <tr>
                <th>Дата події</th>
                <th>Місто проведення</th>
                <th>Загальна кількість квитків</th>
                <th>Доступні квитки</th>
                <th>Артист</th>
                <th>Жанри</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ConcertDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalTickets)</td>
                    <td>@Html.DisplayFor(modelItem => item.AvailableTickets)</td>
                    <td>@Html.DisplayFor(modelItem => item.Artist.FullName)</td>
                    <td>
                        @foreach (var genre in item.Genres)
                        {
                            <span>@genre.Name</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Редагувати</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Видалити</a>
                        <a asp-action="BuyTicket" asp-route-id="@item.Id" class="btn btn-sm btn-success">Купити квиток</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        Вибачте, схожих подій немає, оберіть інші фільтри.
    </div>
}